.privio-msg-container {
  min-height: 20px;
  /* padding: 19px; */
  margin-bottom: 20px;
  /* background-color: #f5f5f5; */
  background: white;
  border: 1px solid #eee;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}

.message {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding: 19px;
	/* border-top-style:solid; *//* dashed; */
	/* border: 1px solid rgba(0, 0, 0, 0.1); */
	padding: 12px;
	padding-bottom: 0px;
}

.child-message {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px;
	padding-right: 0;
}

.message-img-upload-preview {
	max-width: 40px;
	max-height: 40px;
}

.message-img-upload-preview-close {
	position: absolute;
	top: -8px;
	right: 0px;
	display:none;
}

.message-img-upload-preview-container{
	display: inline-block;
	color: #BBB;
	border: 2px dashed #BBB;
	/* border-radius: 5px; */
	margin-right: 5px;
	position: relative;
	width: 40px;
	height:40px;
}

.message-child-container {}

.message-comment-container {
	margin-bottom: 20px;
}

.message-comment-form{
	margin-bottom: 0px;
}

.privio-user-body {}

.message:hover {
	background-color: rgba(0,0,0,0.05);
}

.message-meta{
	margin-left: 50px;
}

.message-img{}

.message-id {
	display: none;
}

.message-left{
	float:left;
}

.message-left img{
	max-width: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.message-right{
	float:right;
}

.message-body{
	clear:both;
}

.privio-btn-comment {
	color: #999;
}

.privio-btn-comment : hover {

}

body {
	background-color: transparent;
}